<li class="portfolio">
  <div class="portfolio-card-border">
    <div class="portfolio-card-inner">
      <div class="pagination">
        <ul class="nav nav-tabs portfolio-tabs ">
          <li class="active"><a href="#home-<%= portfolio.id %>" data-toggle="tab"><i class="icon-home"></i>&nbsp;</a></li>
          <li><a href="#gems-<%= portfolio.id %>" data-toggle="tab">Tools</a></li>
        </ul>
      </div>
      <div class="tab-content nanox">
        <div class="tab-pane" id="gems-<%= portfolio.id %>">
          <div class="summary">
            <h4><%= portfolio.name %></h4>
            <h6>Project was build with</h6>
          </div>
          <div class="row-fluid slim-content">
            <% portfolio.gems.try(:each) do |gem| %>
                <% url ||= "http://rubygems.org/gems/#{gem.name}" %>
                <div class="skill">
                  <a href="<%= url %>" target="_blank"><%= gem.name %><%= ", v #{gem.version}" if gem.version %></a>
                </div>
            <% end %>
            <div class="">&nbsp;</div>
          </div>
          <div class="meta">
            <div class="span3">
              <h5><%= portfolio.gems.try(:size) %></h5>
              <h6>Gems</h6>
            </div>
            <div class="span4">
              <h5>1</h5>
              <h6>Project</h6>
            </div>

          </div>
        </div>

        <!-- tab 2-->
        <div class="tab-pane active" id="home-<%= portfolio.id %>">
          <div class="thumbnail">
            <a href="#" data-gallery="<%= "#{portfolio.id}" %>" class="show-gallery">
              <div class="show-more">show more</div>
            </a>
            <img alt="<%= portfolio.id %>" src="site/public/images/<%= portfolio.id %>/thumb.png">
          </div>
          <div class="info">
            <h5><a href="#" data-gallery="<%= "#{portfolio.id}" %>" class="show-gallery"><%= portfolio.name %></a></h5>

            <p class="description"><%= portfolio.description %></p>
            <strong>Tools:</strong>
            <ul class="unstyled">
              <% portfolio.gems[0..3].try(:each) do |gem| %>
                  <li><%= gem.full_name || gem.name.camelize %>,</li>
              <% end  if portfolio.gems.present? %>
              <li><a href="#" class="pull-right see-more">see all...</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>
  </div>
</li>